

.web {
    box-shadow: none !important;
    margin: 0 auto !important;
}

.mobile {
    box-shadow: none !important;
}

input {
    border: none;
};

textarea {
    border: none !important;
}

body {
    width: 90%;
    margin: 0 auto;
}

@media only screen and (min-width: 1200px)  {
    .mobile {
        display: none;
    }
    .web {
        display: initial;
    }
}
@media only screen and (max-width: 1200px)  {
    .mobile {
        display: initial;
    }
    .web {
        display: none;
    }
}

footer > * >* >* >* >* > a {
    text-decoration: none;
}

footer > * >* a {
    text-decoration: none;
}